@model axiomtechno.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsNombre" class="control-label"></label>
                <input asp-for="UsNombre" class="form-control" />
                <span asp-validation-for="UsNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsApellido" class="control-label"></label>
                <input asp-for="UsApellido" class="form-control" />
                <span asp-validation-for="UsApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsDni" class="control-label"></label>
                <input asp-for="UsDni" class="form-control" />
                <span asp-validation-for="UsDni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsFechaNacimiento" class="control-label"></label>
                <input asp-for="UsFechaNacimiento" class="form-control" />
                <span asp-validation-for="UsFechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsFechaCreacion" class="control-label"></label>
                <input asp-for="UsFechaCreacion" class="form-control" />
                <span asp-validation-for="UsFechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsCorreo" class="control-label"></label>
                <input asp-for="UsCorreo" class="form-control" />
                <span asp-validation-for="UsCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsPasswordHash" class="control-label"></label>
                <input asp-for="UsPasswordHash" class="form-control" />
                <span asp-validation-for="UsPasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="token_recovery" class="control-label"></label>
                <input asp-for="token_recovery" class="form-control" />
                <span asp-validation-for="token_recovery" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UsActivo" /> @Html.DisplayNameFor(model => model.UsActivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UsTelefono" class="control-label"></label>
                <input asp-for="UsTelefono" class="form-control" />
                <span asp-validation-for="UsTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolID" class="control-label"></label>
                <select asp-for="RolID" class ="form-control" asp-items="ViewBag.RolID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
